@import "bootstrap";


.navbar {

  font-family: "Helvetica Neue" Helvetica;
  font-weight: 200;
  background: image_url('dark_wood.png');
}


.navbar-inverse a.navbar-brand {

  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}


.hero {
    background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}